*
{
	margin: 0px;
}

header
{	
	position: fixed;
	height: 200px;
	width: 100%;

	background: #0c64ae; /* Old browsers */
background: -moz-linear-gradient(top,  #0c64ae 0%, #1078d1 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0c64ae), color-stop(100%,#1078d1)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #0c64ae 0%,#1078d1 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #0c64ae 0%,#1078d1 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #0c64ae 0%,#1078d1 100%); /* IE10+ */
background: linear-gradient(to bottom,  #0c64ae 0%,#1078d1 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c64ae', endColorstr='#1078d1',GradientType=0 ); /* IE6-9 */


box-shadow: 20px 0 40px #888888;
border-bottom: solid 2px black;
z-index: 10;
}

#nombre
{
	height: 108px;
	width: 899px;
	padding-top: 130px;
	position: fixed;
	left: 27%;
}

#fondo
{
}
#ContenedorPrincipal
{
	margin: 0 auto 0 auto;
	width: 80%;
	box-shadow: 0px 0px 40px #888888;

}
.area
{
	width: 80%;
	margin: 0 auto;
	border: solid #C0C0C0 2px;
	border-top: 0px;
	border-left: 0px;
	border-right: 0;	

	display: table;
}
.area #video
{
	padding-top: 200px;
}
#video
{
	text-align: center;
	margin: 0 auto;

}
#intro
{
	font-size: 40px;
	padding: 60px;
	display: table-cell;
	vertical-align: middle;	
	text-align: center;
}
.carousel-control.left {
    z-index:7
}  
.carousel-control.right {
    z-index:7
}
#imgs
{
	padding: 50px 0;
}
iframe
{
	box-shadow: 0px 0px 40px #888888;
	margin-top: 150px;
	margin-bottom: 150px;

}
footer
{
	background-color: #37302D;
	height: 100px;
	text-align: center;
}
